body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main-content {
    background-color: #FFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */
.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* project styles */
.projects {
    margin-bottom: 50px;
  
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;   
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.projects-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project 
.project-link 
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
    color: #595959;
}

.project-link {
margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000; 
}

/* work styles */

.work {
margin-bottom: 45px;
}

.work-position {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    Line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-weight: bold;
    font-size: 16px;
    Line-height: 20px;
    color: #FB6D3A;
}

.period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    Line-height: 15px;
    color: a8a8a8; 
    margin-bottom: 10;
}

.line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    Line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0;
    margin-left: 15;
}

.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    Line-height: 24px;
    color: #595959;
}

/* education */
.education {
    
}

.university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    Line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}

.departament {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    Line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 360px;
    margin-bottom: 50;
}
.contacts
 {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}
.sidebar-title {
color: #FFF;
font-style: normal;
font-weight: 700px;
font-size: 22px;
line-height: 27px;
margin-bottom: 10px;
}

.contact-type {
font-style: normal;
font-weight: 700px;
font-size: 14px;
line-height: 24px;  
color: #FFF;
margin-right: 10px;
}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #565e6a;
}
.tech-skills-list {
    color: #F5F7FA;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #F5F7FA;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.soft-skills-list {
    color: #F5F7FA;
    padding: 0;
    margin-left: 17px;
}

.soft-skills-item {
    color: #FB6D3A;
}

.soft-skills-text {
    color: #F5F7FA;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}